<div class="form-group">
    <label for="{{ appointment }}">{{ label }}</label>

    {% if textareaPole %}
        <textarea
        id="{{ appointment }}"
        name="{{ name }}"
        rows="{{ rows }}"
        placeholder="{{ placeholder }}"
        >{{ value|default:'' }}</textarea>
    {% else %}
        <input
        type="{{ type|default:'text' }}"
        id="{{ appointment }}"
        name="{{ name }}"
        placeholder="{{ placeholder }}"
        value="{{ value|default:'' }}">
    {% endif %}

    {% if smallPole %}
        <small>{{ inscription }}</small>
    {% endif %}
</div>
