{% extends 'main/Layout/base.html' %}

{% block title %}Вопрос{% endblock %}

{% block content %}

    <div class="questions-list">

        {% if form.errors %}
        <div class="messages">
            {% for error in form.non_field_errors %}
                <div class="alert-error">{{ error }}</div>
            {% endfor %}

            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert-error">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        {% include 'main/Layout/question.html' with q=question tags=tags %}

        <div class="answers-section">
            {% for answer in answers %}
                {% include 'main/Layout/answer.html' with answer=answer %}
            {% endfor %}
        </div>

        <form action="{% url 'question' question.id %}" method="post" class="question-form">
            {% csrf_token %}

            {% if user.is_authenticated %}
                {% include "main/Layout/formFilling.html" with textareaPole=True appointment="question-tags" label="Your answer" name="text" rows="6" placeholder="Enter your answer here.." value=form.text.value %}
                {% include 'main/Layout/formAction.html' with buttonBlock=True title="Answer" %}
            {% endif %}
        </form>

        {% include "main/Layout/paginator.html" %}
    </div>
{% endblock %}
