{% extends 'main/Layout/base.html' %}

{% block title %}Регестрация{% endblock %}

{% block content %}
    <div class="content-column">
        {% include "main/Layout/header.html" with title="Registration" %}

        {% if form.errors %}
        <div class="messages">
            {% for error in form.non_field_errors %}
                <div class="alert-error">{{ error }}</div>
            {% endfor %}

            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert-error">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="login-container">
            <form action="" method="post" class="login-form" enctype="multipart/form-data">
                {% csrf_token %}

                {% include 'main/Layout/formFilling.html' with appointment="login-username" label="Login" name="username" placeholder="Enter your login here" value=form.username.value %}
                {% include 'main/Layout/formFilling.html' with appointment="login-email" label="Email" name="email" placeholder="Enter your Email here" value=form.email.value %}

                {% include 'main/Layout/formFilling.html' with appointment="login-nickname" label="NickName" name="nick_name" placeholder="Enter your nickname here" value=form.nick_name.value %}

                {% include 'main/Layout/formFilling.html' with appointment="login-password" label="Password" name="password" placeholder="********" type="password" %}

                {% include 'main/Layout/formFilling.html' with appointment="login-password" label="Repeat Password" name="repeat_password" placeholder="********" type="password" %}

                {% include 'main/Layout/formAction.html' with avatarChoose=True label="Avatar" button="Choose" name="avatar" %}

                {% include 'main/Layout/formAction.html' with buttonBlock=True title="Register" %}
            </form>
        </div>
    </div>
{% endblock %}
